h1 {
    text-align: center;
    font-size: 50px;
    color: #1660b5;
  text-transform: uppercase;
   text-decoration: underline;
  }
  #maindiv{
    display: flex;
    justify-content: space-evenly;
   
  }
  
  label {
    font-size: 22px;
    
  }
  
  
  form {
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    height: 700px;
     box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 30px;
   
  }
  #username,#usernamelast,#birth,#emailed,#phone,#shehr,#pin{
    color: red;
  }
  
  #all_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 400px);
    margin-top: 10px;
    gap: 20px;
    height: 1000px;
  }
  .box{
    width: 300px;
    height: auto;
    background-color: #75b2db;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
      .box>img{
          height: 40%;
          width: 100%;
      }
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select,
 
  textarea {
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    
  }
  #sort,#search{
    width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  input[type="submit"] {
     width: 100%;
    font-size: 20px;
    background-color: #1660b5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
  
  }
  #btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    background-color: #ff6f61;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  